* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container-section {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: .5fr 1fr;
}

.flex-container-column {
    width: 100%;
    margin: 0 auto;
    text-align: right;
}

.flex-container-row {
    display: flex;
}

.button {
    flex-basis: 30%;
    font-size: 1.5em;
    text-align: center;
    padding: 1.5rem;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #aba9a9);
    cursor: pointer;
}

.double {
    flex-basis: 50%;
}

.display {
    color: white;
    background-color: #333333;
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid black;
    font-size: 2em;
}

.operator,
.negative,
.equals {
    background: orange;
    width: 25%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1rem;
}

.button:hover {
    font-weight: bold;
}

.history {
    width: 100%;
    margin: 0 auto;
    overflow: scroll;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: center;
    padding: 16px;
}

th {
    background-color: orange;
    color: white;
}

tr:nth-child(e) {
    background-color: #d2d2d2;
}

@media screen and (max-width: 600px) {
    .button {
        padding: 10px;
    }

    .history {
        width: 100%;
    }
}